* {
    padding: 0;
    margin: 0;
    font-family: 'figtree';
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-body{
    width: 300px;
    height: 410px;
    background-color: aliceblue;
    border-radius: 13px;
    box-shadow: 6px 6px 0 black;
    border: solid 1px black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.svg img{
    width: 100%;
    border-radius: 9px;
    margin-bottom: 10px;
}

.learning{
    width: 70px;
    height: 25px;
    border-radius: 3px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 5px;
}

.published{
    font-size: smaller;
    color: hsl(0, 0%, 25%);
    font-weight: 500;
    margin-bottom: 10px;
}

a{
    font-weight: 800;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.desc{
    color: hsl(0, 0%, 50%);
}

.profile-img{
    width: 30px;
    margin-right: 10px;
}

.profile-name{
    display: inline;
    font-size: small;
    font-weight: 800;
}

.profile{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

a:hover{
    color: hsl(47, 88%, 63%);
}

button{
    background-color: rgba(0, 0, 0, 0);
}